* {
  box-sizing: border-box
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #66729e;
}

.container {
  padding: 30px;
}

main {
  max-width: 960px;
  margin: 0 auto;
}
textarea {
   border-radius: 4px;	
}
label {
  display: block;
  margin-bottom: 5px;
}
button {
	background-color: #73ecb0;
	cursor: pointer;
	border-radius: 2px;
	border: 2px solid grey;
}

button:hover {
	background-color: #67bd92;
}

.hidden {
  display: none;
}

.text-report dt:after {
  content: ": ";
}